<a href="https://github.com/RecklessGentleman/Boilerplate-Polyglot"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
<header class="bg_color-primaryColor text-center">
	<div class="container">
		<span class="title">Polyglot</span>
		<hr class="hr-medium" />
		<span class="subtitle">Get Started Getting Started</span>
	</div><!-- /.container -->
</header>

<div class="mainContent container">
	<main class="">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet repudiandae quos dolore, explicabo. Nobis quas, nostrum fugit suscipit placeat amet animi ut quo necessitatibus sapiente adipisci eos facilis enim a. Vel dolorum minima, est in culpa nulla. Harum, voluptatem dolores natus odit error enim et quo praesentium repudiandae magnam qui dicta nemo tenetur accusantium accusamus maiores explicabo doloremque fugiat. Impedit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, consectetur. Ducimus aliquid pariatur minus dolores quia quae numquam accusantium sequi iste, consequatur cupiditate. Ipsam vel facere accusantium distinctio quidem placeat.</p>
		<p>
			<a href="#0">Sample Link</a>
		</p>
	</main>
	<!-- /.withSidebar -->
	<!-- <aside>
		<div class="container bg_gray-light" style="height:500px;">
			<h3>Sidebar Content</h3>
		</div>
	</aside> -->
</div><!-- /.mainContent container -->


<div class="clearfix"></div>
<footer class="bg_gray-dark text-center">
	<div class="container">
		<h3>Have Something to Say?</h3>
		<p>Git <em class="color-muted">(heh)</em> in touch with me on <a href="https://github.com/RecklessGentleman" target="_blank">Github</a>.</p>
	</div><!-- /.container -->
</footer>